# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = DEMO.settings

[deploy]
# 部署到服務器上的設置
#url = http://localhost:6800/
project = DEMO
